<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/acm-bluelogo.ico' %}" type="image/gif">
    <title>ACM CodeTrails</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/Base.css' %}">
    {% block style %}
      
    {% endblock style %}
</head>
<body>
    <header>
        <div class="align">
            <ul class="nav-list">
                {% if user.is_authenticated %}
                    <li> <a href="{% url 'nextques' %}" class="nav-link">Trails</a></li>
                {% else %}
                    <li> <a href="{% url 'signup' %}" class="nav-link">Sign Up</a></li>
                {% endif %}

                <li><a href="{% url 'instructions' %}" class="nav-link">Instructions</a></li>
                <li class="centering"><a href="{% url 'home' %}"><img src="{% static 'images/acmwhitelogo.png' %}" style="height: 5em;"></a></li>

                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" class="nav-link">Log Out</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}" class="nav-link">Log In</a></li>
                {% endif %}
                <li><a href="{% url 'leaderboard' %}" class="nav-link">Leaderboard</a></li>
            </ul>
        </div>

        <!-- Mobile view  begin -->
        <div class="mobile">
            <nav class="mobile-bottom-nav">
                {% if user.is_authenticated %}
                <div class="mobile-bottom-nav__item mobile-bottom-nav__item">
                    <div class="mobile-bottom-nav__item-content">
                        <a href="{% url 'nextques' %}">
                            <i class="material-icons">gesture</i>
                            Trails
                        </a>
                    </div>
                </div>
                {% else %}
                <div class="mobile-bottom-nav__item">
                    <div class="mobile-bottom-nav__item-content">
                        <a href="{% url 'signup' %}">
                            <span class="material-icons">
                                person_add_alt
                            </span>
                            Sign Up
                        </a>
                    </div>
                </div>
                {% endif %}

                <div class="mobile-bottom-nav__item">
                    <div class="mobile-bottom-nav__item-content">
                        <a href="{% url 'instructions' %}">
                            <i class="material-icons">help</i>
                            Instructions
                        </a>
                    </div>
                </div>

                {% if user.is_authenticated %}
                <div class="mobile-bottom-nav__item">
                    <div class="mobile-bottom-nav__item-content">
                        <a href="{% url 'logout' %}">
                            <i class="material-icons">logout</i>
                            Log Out
                        </a>
                    </div>
                </div>
                {% else %}
                <div class="mobile-bottom-nav__item">
                    <div class="mobile-bottom-nav__item-content">
                        <a href="{% url 'login' %}">
                            <i class="material-icons">login</i>
                            Log In
                        </a>
                    </div>
                </div>
                {% endif %}

                <div class="mobile-bottom-nav__item">
                    <div class="mobile-bottom-nav__item-content">
                        <a href="{% url 'leaderboard' %}">
                            <i class="material-icons">leaderboard</i>
                            Leaderboard
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Mobile view end -->

    </header>
    <main>
        {% block content %}
    
        {% endblock content %}
    </main>
    <footer>
        <h6>
            Made with ❤ by ACM Web Development Team
        </h6>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
{% block script %}
  
{% endblock script %}